{
   "type":"provisioning.cattle.io.cluster",
   "metadata":{
      "namespace":"fleet-default",
      "annotations": {
            "field.cattle.io/description": "{{ custom_k8s_cluster_description }}"
      },
      "name":"{{ custom_k8s_cluster_name }}"
   },
   "spec":{
      "rkeConfig":{
         "chartValues":{
            "rke2-{{ custom_k8s_clusters_cni }}":{
               
            }
         },
         "upgradeStrategy":{
            "controlPlaneConcurrency":"1",
            "controlPlaneDrainOptions":{
               "deleteEmptyDirData":true,
               "disableEviction":false,
               "enabled":false,
               "force":false,
               "gracePeriod":-1,
               "ignoreDaemonSets":true,
               "skipWaitForDeleteTimeoutSeconds":0,
               "timeout":120
            },
            "workerConcurrency":"1",
            "workerDrainOptions":{
               "deleteEmptyDirData":true,
               "disableEviction":false,
               "enabled":false,
               "force":false,
               "gracePeriod":-1,
               "ignoreDaemonSets":true,
               "skipWaitForDeleteTimeoutSeconds":0,
               "timeout":120
            }
         },
         "machineGlobalConfig":{
            "cni":"{{ custom_k8s_clusters_cni }}",
            "disable-kube-proxy":false,
            "etcd-expose-metrics":false
         },
         "machineSelectorConfig":[
            {
               "config":{
                  "protect-kernel-defaults":false
               }
            }
         ],
         "etcd":{
            "disableSnapshots":false,
            "s3":null,
            "snapshotRetention":5,
            "snapshotScheduleCron":"0 */5 * * *"
         },
         "registries":{
            "configs":{
               
            },
            "mirrors":{
               
            }
         },
         "machinePools":[
            
         ]
      },
      "machineSelectorConfig":[
         {
            "config":{
               
            }
         }
      ],
      "kubernetesVersion":"{{ custom_k8s_cluster_kubernetes_version }}",
      "defaultPodSecurityPolicyTemplateName":"",
      "defaultPodSecurityAdmissionConfigurationTemplateName":"",
      "localClusterAuthEndpoint":{
         "enabled":false,
         "caCerts":"",
         "fqdn":""
      },
      "enableNetworkPolicy": {{ custom_k8s_cluster_enable_network_policy }}
   }
}